<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taiyi.solutions.mapper.UUserPhoneMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.taiyi.solutions.entity.UUserPhone">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="phone" property="phone" />
        <result column="addr_province_code" property="addrProvinceCode" />
        <result column="addr_province" property="addrProvince" />
        <result column="addr_city_code" property="addrCityCode" />
        <result column="addr_city" property="addrCity" />
        <result column="phone_type" property="phoneType" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
